@import "../../styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-bg;
  display: flex;
  justify-content: flex-start;
  z-index: 1000;
}

.menu {
  background: $white;
  width: 250px;
  height: 100%;
  padding: 2rem;
  box-shadow: 2px 0 5px $shadow-light;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 1rem 0;
      cursor: pointer;
      border-bottom: 1px solid $gray-eee;

      &:hover {
        color: $color-brand;
      }
    }
  }
}
