// Brand colors
$color-brand: #fcbd1b;

// Neutral colors
$gray-f8: #f8f9fa;
$gray-dee: #dee2e6;
$gray-eee: #eee;

// Other colors
$overlay-bg: rgba(0, 0, 0, 0.5);
$shadow-light: rgba(0, 0, 0, 0.1);
