@import "../../styles/variables";

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: $gray-f8;
  border-bottom: 1px solid $gray-dee;
}

.burgerButton,
.backButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}
